@import "variable";
h1 {
  color: $color-heading;
}
.card-course-item {
  margin-top: 15px;
}
.avatar-user {
  width: 40px;
  border-radius: 50%;
}
.select-option-all {
  width: 160px;
  margin: 0 16px;
}
