<div class="mt-4">
    <h3>Post Course</h3>
    <form method="post" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Course Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description Course</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="videoid" class="form-label">Video ID</label>
            <input type="text" class="form-control" id="videoid" name="videoid">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Level</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        
        <button type="submit" class="btn btn-primary">Post Course</button>
    </form>
</div>