<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Node JS At F8</h5>
    <p class="card-text">Hoc Lap Trinh De Di Lam</p>
    <a href="#" class="btn btn-primary">Let Go</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>